*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/build-logic/build/reports/configuration-cache/b2awiesvj07rt7w6qe0c0z2uq/5f7v2ddih6wzoo8cap3t7xc4u/configuration-cache-report.html
/build-logic/build/reports/configuration-cache/b2awiesvj07rt7w6qe0c0z2uq/6a4e52gss2uzev6560coc44b3/configuration-cache-report.html
